@using EPiServer.Core
@using EPiServer
@using EPiServer.ServiceLocation
@using StartProjectGuide.Business;
@using StartProjectGuide.Models.Pages;
@using EPiServer.Web.Mvc.Html
@model  StartProjectGuide.Business.Interfaces.IPageViewModel<StartProjectGuide.Models.Pages.ServiceStartPage>
@{
    var servicePages = ContentShortcuts.GetServiceStartPage().GetChildren();
    var workStartPage = ContentShortcuts.GetWorkStartPage().Get<WorkStartPage>() as WorkStartPage;
    var workPages = ContentShortcuts.GetWorkStartPage().GetChildren();
}
@Html.PropertyFor(m => m.CurrentPage.IntroSection)
<div class="services-wrapper">
    @if (servicePages != null)
    {
        foreach (var servicePage in servicePages.ToList().Select(s => s as ServicePage))
        {
            <a href="@servicePage.StaticLinkURL">
                <div class="section service-card">
                    <div class="img-wrapper">
                        <img src="@Url.ContentUrl(servicePage.Image.Url)" alt="@servicePage.Image.Title" />
                    </div>
                    <h2 class="service-card-header">@Html.Raw(servicePage.Name)</h2>
                    <div class="description">@Html.Raw(servicePage.TeaserDescription)</div>
                    <a class="link" href="@servicePage.StaticLinkURL">Read more</a>
                </div>
            </a>
        }
    }

</div>
<div class="image-text-block-wrapper">

    @if (workPages != null)
    {
        foreach (var workPage in workPages.ToList().Select(x => x as WorkPage).Take(4))
        {
            <a class="image-text-block span6" href="@workPage.StaticLinkURL">
                <div class="text-block-text">
                    <h2>@Html.Raw(workPage.Name)</h2>
                    <p>@Html.Raw(workPage.TeaserDescription)</p>
                </div>
                <img class="background-image" src="@Url.ContentUrl(workPage.Image.Url)" alt="@workPage.Image.Title" />
            </a>
        }
        <div class="row center fill">
            <a class=" button link" href="@workStartPage.StaticLinkURL">Our cases</a>
        </div>
    }
</div>
